@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;

  font-size: 18px;
}
main {
  margin: 50px 200px 0px 200px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 64px;
  width: 250px;
  font-weight: 400;
}
h2 {
  font-weight: 400;
  margin-top: 100px;
  font-size: 36px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-logo {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      opacity: 70%;
    }
    a {
      color: black;
      padding-left: 100px;
      font-size: 18px;
      text-decoration: none;
    }
  }
}

section {
  max-width: 550px;
  margin: 50px 0px 50px 0px;
}
.resume {
  padding-top: 40px;

  a {
    text-decoration: underline;
    color: black;
    opacity: 70%;
    font-weight: 400px;
  }
}
hr {
  margin-top: 80px;
  margin-bottom: 80px;
}
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}
.single-project {
  max-width: 500px;
  margin-bottom: 30px;
  a {
    color: black;
    text-decoration: none;
  }
  h4 {
    font-weight: 300;
  }
}
img {
  width: 100%;
}
.about {
  max-width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  h1 {
    width: 300px;
  }
  p {
    line-height: 1.8;
    margin-top: 20px;
    opacity: 70%;
  }
  .social {
    display: flex;
    margin-top: 20px;
    a {
      margin-right: 20px;
      opacity: 70%;
      img {
        height: 40px;
      }
    }
  }
}
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  margin-top: 100px;
}

.single-project img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.single-project:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
li:hover {
  opacity: 100%;
}
.social a:hover {
  opacity: 100%;
}

@media only screen and (max-width: 708px) {
  main {
    margin: 40px 20px 0px 20px;
  }
  h2 {
    font-size: 24px;
    width: 410px;
    margin-top: 30px;
  }
  .nav-item.hide {
    display: none;
  }

  .project-list {
    grid-template-columns: 1fr;
  }
}
